@model IEnumerable<tbChamado>

@{
    ViewBag.Title = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo chamado", "Adicionar")
</p>
<div class="row">
    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            @Html.DropDownList("statusSelect", ViewBag.Status as SelectList, "Selecione ...", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div id="chamado-list">
    </div>
</div>

@section head
{
    <style>
        #chamado-list {
            margin: 20px 0;
        }
    </style>
}


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".chamado-remove").click(function (e) {

                if (!confirm("Deseja excluir um chamado?")) {
                    e.preventDefault();
                }

            });

            $("#statusSelect").change(function () {
                var url = "/Chamado/CarregarDadosIndex",
                    $element = $(this);

                if ($element.val())
                    url += "?&status=" + $element.val();

                $.get(url, function (response) {
                    $("#chamado-list").html(response);
                });
            }).trigger("change");


        });

    </script>
}
