@model IEnumerable<tbAtendente>

@{
    ViewBag.Title = "Atendentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>

<div class="row">
    <div id="atendente-list">
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".atendente-remove").click(function (e) {

                if (!confirm("Deseja excluir o atendente?")) {
                    e.preventDefault();
                }

            });

            $.get("/Atendente/CarregarDadosIndex", function (response) {
                $("#atendente-list").html(response);
            });


        });

    </script>
}
