
@{
    ViewBag.Title = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>Página de Meu Perfil. Aqui vem informações do perfil do usuário que poderá ser recuperado das Claims.</p>
